@import "bootstrap";

body {
  margin: 50px 100px 50px 100px;
}

.page-header {
  margin-top: -20px;
}

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
}

input, textarea, select, .uneditable-input {
  display: block;
  margin-bottom: 15px;
  width: 75%;
}
